.box {
  width: 500px;
  margin: 20px auto;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 255, 0.2);
  height: 500px;
  border-radius: 50px;

  padding: 2%;
  box-shadow: 10px 10px 10px rgba(0, 0, 255, 0.2);
}
.box img {
  max-width: 80%;
  height: 50px;
  margin-top: 2%;
  align-items: center;
  margin-left: 10%;
}
#card {
  display: inline-block;
  align-items: center;
  line-height: 100%;
  row-gap: 2%;
}
.pay {
  color: grey;
  font-size: large;
  font-weight: 600;
  text-decoration: underline;
}
#paynow {
  justify-content: center;
  width: 50%;
  height: 35px;
  margin-left: 25%;
  margin-top: 10%;
  background-color: blue;
  border-radius: 17px;
}
