<div class="box">
  <div>
    <img
      src="https://images.forestessentialsindia.com/pub/media/payment-method-new.png"
    />
  </div>

  <hr />
  <div id="total"></div>
  <p class="pay">Credit/Debit Card</p>
  <div id="card">
    <form>
      <label for="card">Card Number:</label>
      <input type="text" id="card" />
      <label for="cvv">CVV:</label>
      <input type="tel" id="cvv" />
      <p></p>
      <label for="datex">Expiry Date: &nbsp&nbsp </label>
      <input type="date" id="datex" />

      <p class="pay">Pay By UPI</p>

      <label for="card">UPI Id:</label>
      <input type="text" id="" />

      <p class="pay">NET Banking</p>
      <label for="card">ID:</label>
      <input type="text" id="" />
      <label for="card">Password:</label>
      <input type="text" id="" /><br />
      <p></p>
      <input type="submit" value="Pay Now" id="paynow" />
    </form>
  </div>
</div>
