<!-- <footer class="fixed bottom-0 w-full -z-100"> -->
<div
  id="footer"
  class="w-full flex xl:px-20 lg:px-12 sm:px-6 px-4 py-12 bg-[rgb(31, 41, 55)] items-center"
>
  <div class="mx-auto flex flex-col items-center justify-center">
    <div
      class="flex flex-wrap sm:gap-10 gap-8 items-center justify-center mt-8"
    >
      <a
        href="javascript:void(0)"
        class="focus:underline focus:outline-none hover:text-gray-500 text-base cursor-pointer leading-4 text-gray-300"
        >About</a
      >
      <a
        href="javascript:void(0)"
        class="focus:underline focus:outline-none hover:text-gray-500 text-base cursor-pointer leading-4 text-gray-300"
        >Contact us</a
      >
      <a
        href="javascript:void(0)"
        class="focus:underline focus:outline-none hover:text-gray-500 text-base cursor-pointer leading-4 text-gray-300"
        >Terms of Service</a
      >
      <a
        href="javascript:void(0)"
        class="focus:underline focus:outline-none hover:text-gray-500 text-base cursor-pointer leading-4 text-gray-300"
        >Privacy Policy</a
      >
    </div>

    <div class="flex items-center mt-6">
      <p class="text-base leading-4 text-gray-300">
        2022 <span class="font-semibold">BookStore</span>
      </p>
      <div class="border-l border-gray-300 pl-2 ml-2">
        <p class="text-base leading-4 text-gray-300">Inc. All right reserved</p>
      </div>
    </div>
  </div>
</div>
<!-- </footer> -->
