<!-- <div class="w-full flex justify-center py-12" id="button">
    <button class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 focus:outline-none mx-auto transition duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-4 sm:px-8 py-2 text-xs sm:text-sm" (click)="modalBtn()">Open Modal</button>
  </div> -->

<div
  [ngClass]="
    'z-50 fixed w-full flex justify-center inset-0 ' +
    (modal ? 'hidden' : 'block')
  "
>
  <div
    (click)="modalBtn()"
    class="w-full h-full bg-gray-900 z-0 absolute inset-0"
  ></div>
  <div class="mx-auto container">
    <div class="flex items-center justify-center h-full w-full">
      <div
        class="bg-white rounded-md shadow fixed overflow-y-auto sm:h-auto w-10/12 md:w-8/12 lg:w-1/2 2xl:w-2/5"
      >
        <div
          class="bg-gray-100 rounded-tl-md rounded-tr-md px-4 md:px-8 md:py-4 py-7 flex items-center justify-between"
        >
          <p class="text-base font-semibold">Create New User</p>
        </div>
        <div class="px-4 md:px-10 pt-6 md:pt-12 md:pb-4 pb-7">
          <div class="flex items-center justify-center">
            <div class="w-72 h-40 p-16 flex items-center justify-center">
              <img
                class="xbg-clip-text text-transparent bg-gradient-to-r from-cyan-500 to-cyan-500 rounded-full"
                src="https://www.tutorialrepublic.com/examples/images/avatar.png "
              />
            </div>
          </div>

          <form
            class="mt-11"
            #form="ngForm"
            (ngSubmit)="formdata(); form.resetForm()"
            ngNativeValidate
          >
            <div class="items-center space-x-9">
              <input
                type="text"
                id="name"
                placeholder="User Name as EmailId"
                name="username"
                [(ngModel)]="user.userName"
                required
                email
                #name="ngModel"
                class="focus:ring-2 focus:ring-gray-400 w-full focus:outline-none placeholder-gray-500 py-3 px-3 text-sm leading-none text-gray-800 bg-white border rounded border-gray-200"
              />
              <span *ngIf="!name.valid && name.touched"
                >Please enter User Name!</span
              >
            </div>
            <div class="items-center space-x-9 mt-8">
              <input
                type="password"
                placeholder="Password"
                required
                minlength="6"
                name="password"
                [(ngModel)]="user.password"
                #pass="ngModel"
                class="focus:ring-2 focus:ring-gray-400 w-full focus:outline-none placeholder-gray-500 py-3 px-3 text-sm leading-none text-gray-800 bg-white border rounded border-gray-200"
              /><br />
              <span *ngIf="!pass.valid && pass.touched">
                Please enter Password of minimum 6 character!
              </span>
            </div>

            <div class="flex items-center justify-between mt-9">
              <button
                role="button"
                aria-label="close button"
                routerLink=""
                class="focus:ring-2 focus:ring-offset-2 focus:bg-gray-600 focus:ring-gray-600 focus:outline-none px-6 py-3 bg-gray-600 hover:bg-gray-500 shadow rounded text-sm text-white"
              >
                Cancel
              </button>

              <button
                type="submit"
                aria-label="add user"
                role="submit"
                class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-800 focus:outline-none px-6 py-3 bg-indigo-700 hover:bg-opacity-80 shadow rounded text-sm text-white"
                [disabled]="!form.valid"
              >
                Add User
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
